.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 32, 67, 0.5); /* Warna dengan transparansi */
  z-index: 1;
  color: 'white'
}

.carousel-item img {
  position: relative;
  z-index: 0; /* Pastikan gambar tetap di belakang overlay */
}

.carousel-caption {
  position: relative;
  z-index: 2; /* Teks di atas overlay */
  color: white; /* Pastikan teks terlihat */
  /* background-color: red; */
}

.text-color {
  color: "#003D92"
}

@media (max-width: 991px) {
  .topbar {
    display: none;
  }
}

.custom-card {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-star {
  color: gold; /* Default warna bintang gold */
  transition: color 0.3s ease;
}

.custom-card:hover {
  background-color: #003F98;
  transform: translateY(-5px); /* Efek sedikit terangkat */
}

.custom-card:hover .custom-star {
  color: white !important; /* Bintang berubah jadi putih saat hover */
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
